
<nav  class="navbar navbar-dark fixed-top" style="background-color: rgb(12, 20, 24);">
  <div class="container-fluid"> 

    <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="product-logo">
      <img style="height: 2rem; border-radius: 50%;" src="/images/product_icon.jpg" alt="user img">
       <a  class="navbar-brand montserrat-subrayada-regular" href="/user" >HostelNode</a>
    </span>
    
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <!-- <img style="height: 2rem; border-radius: 50%;" src="/images/product_icon.jpg" alt="user img"> -->
        
          <a class="nav-link dropdown-item" href="/user">  Dashboard  </a>
         
        <button type="button" class="cross-btn btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div style="overflow: scroll; scrollbar-width: none;" class="offcanvas-body">
        <ul  class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
            <!-- MANAGE MEMBERS  --> <!--Start  -->
            <li>
              <a class="nav-link dropdown-item" href="/user/revenue"> <i class="fa-solid fa-chart-pie"></i> Revenue Reports </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-users"></i>  Manage Members 
              </a>
              <ul class="dropdown-menu" >
                <li><a class="nav-link dropdown-item" href="/user/newmember"><i class="fa-solid fa-plus"></i>Add Members</a></li>
                <li><a class="nav-link dropdown-item" href="/user/activeMember">Active Members</a></li>
                <li><a class="nav-link dropdown-item" href="/user/members">View All Members</a></li>
              
                <li>
                  <hr class="dropdown-divider">
                </li>
                <!--   
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
    <!-- MANAGE MEMBERS  --> <!--End -->

  <!-- MANAGE PAYMENTS  --> <!--Start  -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-indian-rupee-sign"> </i> Payments
    </a>
    
    <ul class="dropdown-menu" >
      <!-- <li><a class="nav-link dropdown-item" href="#"> <i class="fa-solid fa-circle-plus"> </i> Add Payment</a></li> -->
      <li><a class="nav-link dropdown-item" href="/user/allfeesrecords"> <i class="fa-solid fa-file-invoice-dollar"></i> View Fees Structure </a></li>
      <li><a class="nav-link dropdown-item" href="/user/upcomingPayments"> <i class="fa-solid fa-clock-rotate-left"></i> Upcoming Payments</a></li>
      <li><a class="nav-link dropdown-item" href="/user/deureports"> <i class="fa-solid fa-money-bills"></i> Dues Report</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
    </ul>
  </li>
<!-- MANAGE PAYMENTS  --> <!--End -->


        
    <!-- MANAGE ROOMS  --> <!--Start  -->
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-building"></i> Rooms
      </a>
      <ul class="dropdown-menu" >
        <!-- <li><a class="nav-link dropdown-item" href="/newroom"><i class="fa-solid fa-plus"></i> Add Room</a></li> -->
        
        <li><a class="nav-link dropdown-item" href="/user/allrooms"> View All Rooms</a></li>     
        <li><a class="nav-link dropdown-item" href="/user/managerooms"> Manage Rooms</a></li>
        <!-- <li><a class="nav-link dropdown-item" href="/createbeds"> Assign Beds to Room</a></li> -->
        <li>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </li>
<!-- MANAGE ROOMS  --> <!--End -->
 
    <!-- MANAGE BEDS  --> <!--Start  -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bed"></i> Beds
      </a>
      <ul class="dropdown-menu" >
        <li><a class="nav-link dropdown-item" href="/allbeds">View All Beds</a></li>
        <li><a class="nav-link dropdown-item" href="/avlbleBeds">Check Available Beds</a></li>
        
            <li><a class="nav-link dropdown-item" href="/rooms">Assign Beds to Room</a></li> -->
        
        <!-- <li>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </li> -->
<!-- MANAGE BEDS --> <!--End -->

  <!-- MANAGE FLOORS  --> <!--Start  -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-city"></i> Floors
    </a>
    <ul class="dropdown-menu" >
        <!-- <li><a class="nav-link dropdown-item" href="/newfloor"><i class="fa-solid fa-plus"></i> Add Floor</a></li> -->
        
        <li><a class="nav-link dropdown-item" href="/user/floors">View All Floors</a></li>
        <li><a class="nav-link dropdown-item" href="/user/managefloor">Manage Floors</a></li>
    
      <li>
        <hr class="dropdown-divider">
      </li>
      <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
    </ul>
  </li>
<!-- MANAGE FLOORS  --> <!--End -->
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" target="_blank" 
            href="https://mail.google.com/mail/?view=cm&fs=1&to=ketanmahajan2003@gmail.com
            &su=Feedback from <%= user.username %>
            &body=Hello Ketan,%0D%0A%0D%0A
            My Name: <%= user.user %>%0D%0A
            Username: <%= user.username %>%0D%0A
            Hostel Name: <%= user.hostelName %>%0D%0A
            Phone: <%= user.phone %>%0D%0A
            %0D%0AI would like to share my feedback about the hostel services.%0D%0A%0D%0A
            Thank you!">

            <i class="fa-solid fa-message"></i> Send Feedback
         </a>
         
          </li>
           
          
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
      </div>
    </div>
<!--     
    <span style=" color: #ffffff;" class="material-symbols-outlined">
      search
    </span> -->
    <span style="display: flex;">
    <span  style="margin:auto 1rem;">
     <i class="fa-solid fa-bell " style="color: #ffffff; "></i> <!-- NOTIFICAION BELL -->
    </span>
    <span >
      
      <!-- PROFILE  -->
      <!-- <button class="navbar-toggler" type="button"> -->
        <img  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="height: 2rem; border-radius: 25%; margin-right: 1rem;" src="/images/userbadge.jpg" alt="user img">
      <!-- </button> -->
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" style="font-size: larger;" id="offcanvasNavbarLabel"><%=user.name%></h3> <br>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
             
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><%=user.hostelName%> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%=user.phone%></a>
            </li>
          
  <!-- MANAGE FLOORS  --> <!--Start  -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-headset"></i> Help Center
    </a>
    <ul class="dropdown-menu" >
        <!-- <li><a class="nav-link dropdown-item" href="/newfloor"><i class="fa-solid fa-plus"></i> Add Floor</a></li> -->
        <li><a class="nav-link dropdown-item" href="tel:+917879884375"> <i class="fa-solid fa-phone"></i>  +91 7879884375</a></li>

         <li>
               <a class="nav-link dropdown-item"   href="https://mail.google.com/mail/?view=cm&fs=1
                &to=ketanmahajan2003@gmail.com
                &su=Support%20Request%20for%20Hostel%20Services
                &body=Hello%20Ketan,%0D%0A%0D%0A
                My%20Name:%20<%= user.user %>%0D%0A
                Username:%20<%= user.username %>%0D%0A
                Hostel%20Name:%20<%= user.hostelName %>%0D%0A
                Phone:%20<%= user.phone %>%0D%0A%0D%0A
                I%20need%20support%20regarding%20my%20hostel%20services.%0D%0A%0D%0A
                Thank%20you!"
                target="_blank" 
                class="btn btn-primary">
                <i class="fa-solid fa-envelope"></i> Send Mail
              </a>
    </li>
    <li>
            <a class="nav-link" href="https://www.linkedin.com/in/ketan-mahajan24" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="nav-link" href="https://www.instagram.com/your_instagram_username" target="_blank">
          <i class="fa-brands fa-instagram"></i>
      </a>
  </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
    </ul>
  </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li> -->
             
          </ul>
          <hr>
          <form class="d-flex mt-3" role="search">
                        <a style="margin-left: 20px;"  class="btn btn-outline-success " href="/user/logout"> Logout </a>
          </form>
        </div>
      </div>
    </span>
  </span>

  </div>
</nav>
<br>