<% layout("/layouts/boilerplate") -%> 
<div class="main-body-page">
        <br><br>
        <h1 class="revenue-heading">Revenue Report</h1>
                <br>
         <div class="card-container">
                <div class="card card-2" style="background-color: aqua;">
                        <div class="row m-1"  >
                                <span class="col-9"  style="justify-content: center; text-align: left; color: black;">
                                        <h1 > <%= feesCollectionCompleted %> <i class="fa-solid fa-percent"></i></h1>
                                        <h5>Fees Collection Completed</h5>
                                </span>
                                <span class="col-2" >
                                        <i   class="fa-solid fa-chart-pie"style="color: #ffffff;font-size: 30px; background-color:  #000; padding: 20px; border-radius: 50%; justify-items: center;"></i>
                                       
                                       
                                </span>
                        </div>
                </div>
                 
                <div class="card card-2" style="background-color: aqua;">
                        <div class="row m-1"  >
                                <span class="col-9"  style="justify-content: center; text-align: left; color: black;">
                                        <h5 > Paid A/C: <%= paidAccounts %>  <HR></HR> Due A/C: <%= dueAccounts %>  </h5>
                                </span>
                                <span class="col-2" >
                                        <i class="fa-solid fa-square-poll-horizontal" style="color: #ffffff;font-size: 30px; background-color:  #000; padding: 20px; border-radius: 50%; justify-items: center;"></i>
                                        </i>  
                                       
                                </span>
                        </div>
                </div>
                
             
                
                <div class="card card-3">
                        <div class="row m-1"  >
                                <span class="col-9"  style="justify-content: center; text-align: left;">
                                        <h2> <i class="fa-solid fa-indian-rupee-sign"></i><%= totalFeesCollected %></h2>
                                        <h5>Total Fees Collected</h5>
                                </span>
                                <span class="col-2" >
                                        <i class="fa-solid fa-sack-dollar"  style="color: #ffffff;font-size: 30px; background-color:  #2871f8bd; padding: 20px; border-radius: 50%; justify-items: center;"></i>
                                       
                                </span>
                        </div>
                </div>
                <div class="card card-6">
                        <div class="row m-1"  >
                                <span class="col-9"  style="justify-content: center; text-align: left;">
                                        <h2> <i class="fa-solid fa-indian-rupee-sign"></i>  <%= totalPendingAmount %></h2>
                                        <h5>Total Pending Amount</h5>
                                </span>
                                <span class="col-2" >
                                        <i class="fa-solid fa-circle-exclamation" style="color: #ffffff;font-size: 30px; background-color: #ff0800a4;padding: 20px; border-radius: 50%; justify-items: center;"></i>
                                        
                                </span>
                        </div>
                </div>
               
                <div class="card card-4">
                        <div class="row m-1"  >
                                <span class="col-9"  style="justify-content: center; text-align: left;">
                                        <h2> <i class="fa-solid fa-indian-rupee-sign"></i><%= totalExpectedRevenue %></h2>
                                        <h5>Total Expected Revenue</h5>
                                </span>
                                <span class="col-2" >
                                        <i  class="fa-solid fa-chart-line"  style="color: #ffffff;font-size: 30px; background-color: #a50d98f6;padding: 20px; border-radius: 50%; justify-items: center;"></i>
                                    
                                </span>
                        </div>
                </div>
               
                
                <div class="card card-5">
                        <div class="row m-1"  >
                                <span class="col-9"  style="justify-content: center; text-align: left;">
                                        <h2> <i class="fa-solid fa-indian-rupee-sign"></i>  <%= balance %></h2>
                                        <h5>Balance</h5>
                                </span>
                                <span class="col-2" >
                                        <i class="fa-solid fa-wallet" style="color: #ffffff;font-size: 30px; background-color: #11b7bd73;padding: 20px; border-radius: 50%; justify-items: center;"></i>
                                         
                                </span>
                        </div>
                </div>
               
               
                
                </div>
              
</div>
        <br>


 
<div class="table-container" style="overflow: scroll;">
        <table border="1">
            <tr>
                 
                <th>S. No.</th>
                <th>Months</th>
                <th>Total Fees Collected</th>
                <th>Total Pending Fees</th>
                <th>Total Expected Revenue</th>
                <th>Total Members</th>
                <th>Download <br>Statemnt</th>
            </tr>
            <tr>
                <td>1</td>
                <td>January 2024</td>
                <td>₹7,00,000</td>
                <td>₹50,000</td>
                <td>₹7,50,000</td>
                <td>120</td>
                <td ><button class="btn" type="submit" ><i class="fa-solid fa-file-lines"></i></button></td>
            </tr>
            
            <tr>
                <td>2</td>
                <td>February 2024</td>
                <td>₹8,00,000</td>
                <td>₹10,000</td>
                <td>₹7,90,000</td>
                <td>130</td>
                <td ><button class="btn" type="submit" ><i class="fa-solid fa-file-lines"></i></button></td>
            </tr>
            
            <tr>
                <td>3</td>
                <td>March 2024</td>
                <td>₹9,20,000</td>
                <td>₹8,40,000</td>
                <td>₹80,000</td>
                <td>110</td>
                <td ><button class="btn" type="submit" ><i class="fa-solid fa-file-lines"></i></button></td>
            </tr>
             </table>
        </div>
        