<% layout("/layouts/boilerplate") -%> 
<br><br>
<h3 class="revenue-heading">Manage Room</h3>

<div class="table-container">
<table border="1">
    <tr>
        <th>Room No.</th>
        <th>Room Fees</th>
        <th>Sharing</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% for (let Room of allRooms){%>       
    <tr> 
        <td><%=Room.room_number%> </td>
        <td><%=Room.room_fees%> </td>
        <td><%=Room.sharing_capacity%></td>

        <td> <a style="color:  #293042;" href="/managerooms/<%=Room._id%>/edit"> <i class="fa-solid fa-pen-to-square"></i></a></td>

        <td>
            <form method="POST" action="/managerooms/<%=Room._id%>?_method=DELETE">
                <button class="btn p-0 border-0 bg-transparent"><i class="fa-solid fa-trash-can"></i></button>
            </form>
        </td>
    
    </tr>
    <%}%>   
</table>
</div>
